@font-face {
    font-family: 'Input';
    src: url('../assets/fonts/InputMonoNarrow-Light.ttf') format('truetype');
    }



@import url("//hello.myfonts.net/count/307e99");


@font-face {
    font-family: 'GrotesqueMTStd';
    src: url('../assets/fonts/307E99_0_0.eot');
    src: url('../assets/fonts/307E99_0_0.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/307E99_0_0.woff2') format('woff2'),
         url('../assets/fonts/307E99_0_0.woff') format('woff'),
         url('../assets/fonts/307E99_0_0.ttf') format('truetype');
    }


@font-face {
    font-family: 'GrotesqueMTStd-Black';
    src: url('../assets/fonts/307E99_1_0.eot');
    src: url('../assets/fonts/307E99_1_0.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/307E99_1_0.woff2') format('woff2'),
         url('../assets/fonts/307E99_1_0.woff') format('woff'),
         url('../assets/fonts/307E99_1_0.ttf') format('truetype');
    }


@font-face {
    font-family: 'GrotesqueMTStd-Italic';
    src: url('../assets/fonts/307E99_2_0.eot');
    src: url('../assets/fonts/307E99_2_0.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/307E99_2_0.woff2') format('woff2'),
         url('../assets/fonts/307E99_2_0.woff') format('woff'),
         url('../assets/fonts/307E99_2_0.ttf') format('truetype');
    }


@font-face {
    font-family: 'BelweSH-Medium';
    src: url('../assets/fonts/307E99_3_0.eot');
    src: url('../assets/fonts/307E99_3_0.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/307E99_3_0.woff2') format('woff2'),
         url('../assets/fonts/307E99_3_0.woff') format('woff'),
         url('../assets/fonts/307E99_3_0.ttf') format('truetype');
    }

