/* ==========================================================================
   Default block
   ========================================================================== */

.sqs-block {
    background: color(tertiary);
    margin: unit(4) 0;

    @include breakpoint($vp3) {
        margin: unit(6) 0;
        }
    }
