/* ==========================================================================
   Footer
   ========================================================================== */


// Site Footer
.site-footer_nav {
    display: flex;

    // center alignment for mobile
    flex-direction: column;
    align-items: center;
    text-align: center;

    ul {
        display: flex;
        flex-direction: column;
        }
    }

.site-footer_nav-item--home {
    display: flex;

    svg {
        min-width: 2em;
        width: 2.7vw;
        max-width: 3em;
        }
}

