/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
    .toolbar {
        @include breakpoint(0, $vp2) {
            display: none;
            }
        }
    }

.site-header_meta {
    padding: unit(2) 0;

    @include breakpoint($vp2) {
        padding: unit(3) 0;
        }

    @include breakpoint($vp3) {
        padding: unit(8, perc) 0 unit(4, perc);
        }

    @include breakpoint($vp3 + 10em) {
        padding: unit(10) 0 unit(5);
        }

    .wrap {
        display: flex;
        align-items: center;
        }

    // logo color
    .fill {
        transition: fill 0.2s ease-out;
        fill: color(black);
        }

    a {
        display: block;

        &:hover {
            .fill {
                fill: color(gray);
                }
            }
        }
    }

.site-header_meta_logomark {
    @include span(3);
    display: flex;

    @include breakpoint($vp2) {
        justify-content: center;
        align-items: flex-start;
        }

    @include breakpoint($vp3) {
        @include span(2);
        }

    svg {
        min-width: 2em;
        width: 2.7vw;
        max-width: 3em;
        }
    }

.site-header_meta_logotype {
    display: none;

    @include breakpoint($vp2) {
        display: flex;
        justify-content: center;
        @include span(6 of 12);
        }

    @include breakpoint($vp3) {
        @include span(8);
        }

    ._text {
        @include hide-text();
        }

    ._icon {
        display: block;

        @include breakpoint($vp3) {
            width: 20vw;
            }

        // logo color
        .a {
            transition: fill 0.2s ease-out;
            fill: color(black);
            }
        }

    svg {
        display: block;
        min-width: 13.5em;
        max-width: 20em;
        margin: 0 auto;
        }
    }

.site-header_meta_title {
    @include uppercase(.1em);
    color: color(gray);
    text-align: center;
    display: block;
    @include span(6);

    @include breakpoint($vp2) {
        display: flex;
        align-items: center;
        justify-content: center;
        @include span(last 3 of 12);
        }

    @include breakpoint($vp3) {
        @include span(last 2);
        }
    }

.site-header_nav-trigger {
    display: block;
    @include span(last 3 of 12);

    @include breakpoint($vp2) {
        display: none;
        }

    button {
        border:0;
        padding: 0;
        background: 0;
        outline: 0;
        max-width: 2em;
        display: block;
        float: right;
        }
    }


// .site-header .wrap {
//     background: color(gray);
// }

// [class^="site-header_meta_"] {
//     background: color(grayAlt);
// }
