/* ==========================================================================
   Journal theme: Bees!
   ========================================================================== */


.category-bees {

    h1,
    h2,
    h3,
    .bq_source {
        color: color(bee);
        }


    a {
        transition: $timing $ease-cubic;
        padding-bottom: 2px;
        border-bottom: 2px solid color(grayAlt);

        &:hover {
            // color: color(black);
            border-bottom: 2px solid color(bee);
            }
        }
    }
