/* ==========================================================================
   Settings
   ========================================================================== */



/* Typography
   ========================================================================== */

$font-size      : 16;
$line-height    : 1.6;
$font-scale     : 1.618; // Defines intervals within text-size() mixin.
$font-sans      : "Domaine-Text-Sans", "Helvetica Neue", sans-serif;
$font-serif     : "Domaine-Display", "Georgia", serif;
$font-mono      : "Simplon-Mono", "Courier", monospace;


/* Layout
   ========================================================================== */

/**
 * Units
 */
$unit-rela      : 1rem;
$unit-perc      : gutter(12);
$unit-vert      : ($unit-perc / 100%) * 100;
$unit-hori      : ($unit-perc / 100%) * 100;

$space-perc     : 5.25vw;
$space-rela     : 2.5rem;



/**
 * Grid
 */
$susy: (
    columns     : 12,
    gutters     : .25
    );

$wrap-max       : 120rem;
$wrap-large     : 112rem;
$wrap-medium    : 70rem;
$wrap-small     : 30rem;


/* Grid
   ========================================================================== */
$grid-length: 12;
$grid-columns: 12 11 10 9 8 7 6 5 4 3 2 1;


/* Spacing
   ========================================================================== */
// Small
$bump-size: 80px;
$nudge-size: 40px;

// Content Blocks
$expander-one: 90px;
$expander-two: 160px;
$expander-three: 250px;
$expander-mobile: 50px;
$expander-mobile-tite: 15px;

// Horizontal
$mobile-padding: 30px;
$image-padding: 13.671875%;
$wrapper-padding: 7.03125%;
$grid-padding: #{"calc( ~\"#{$wrapper-padding} + #{$bump-size}\" )"};

// Grid Walls
$grid-item-padding: 5.5%;
$grid-item-padding-static: 55px;
$grid-item-padding-bottom: #{"calc( ~\"11% + #{$bump-size}\" )"};





/* Color
   ========================================================================== */
$color: (
    primary     : #403B37,
    secondary   : #A69A8D,
    tertiary    : #F8F3F0,
    yellow      : #F8AC1C,
    green       : #12AA2F,
    red         : #EC2D00,
    blue        : #0C58EE,
    black       : #323235,
    gray        : #AEACAB,
    grayAlt     : #E4E4E4,
    white       : #FFFFFF
    );




/* Breakpoints
   ========================================================================== */
$vp1            : 10em;
$vp2            : 40em; // 640px
$vp3            : 60em; // 960px
$vp4            : 90em; // 1440px
$vp5            : 128em; // 2048px




/* Transitions & Animations
   ========================================================================== */

$timing         : 0.2s;
$easing         : ease-in-out;

$ease           : ease;
$ease-in        : ease-in;
$ease-out       : ease-out;
$ease-in-out    : ease-in-out;
$ease-cubic     : cubic-bezier( 0.55, 0.055, 0.675, 0.19 );

$long-duration  : 600ms;
$base-duration  : 400ms;
$midi-duration  : 300ms;
$fast-duration  : 200ms;
