/* ==========================================================================
   Font Imports
   ========================================================================== */



/**
 * Domaine Regular
 */

@font-face {
    font-family: 'Domaine-Text-Sans';
    font-weight: normal;
    font-style: normal;
    src: url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294a60032be425c6808cf9/1546209888828/DomaineSansTextWeb-Regular.eot');
    src: url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294a97758d46566dff7917/1546209944077/DomaineSansTextWeb-Regular.woff2') format('woff2'),
         url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294a6fcd836676a1a3fde2/1546209903903/DomaineSansTextWeb-Regular.woff') format('woff');
    }




/**
 * Domaine Regular Italic
 */

@font-face {
    font-family: 'Domaine-Text-Sans';
    font-weight: normal;
    font-style: italic;
    src: url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294ac5352f53619ad54d32/1546209990324/DomaineSansTextWeb-RegularItalic.eot');
    src: url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294acf40ec9ab2ea2bb526/1546210000216/DomaineSansTextWeb-RegularItalic.woff2') format('woff2'),
         url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294aca575d1f0c317b7368/1546209995010/DomaineSansTextWeb-RegularItalic.woff') format('woff');
    }




/**
 * Domaine Bold
 */

@font-face {
    font-family: 'Domaine-Text-Sans';
    font-weight: bold;
    font-style: normal;
    src: url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294b3db8a0456c72c70af7/1546210109607/DomaineSansTextWeb-Bold.eot');
    src: url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294b46f950b760dd53f4dd/1546210119047/DomaineSansTextWeb-Bold.woff2') format('woff2'),
         url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294b416d2a73e6a9aee83f/1546210113254/DomaineSansTextWeb-Bold.woff') format('woff');
    }




/**
 * Domaine Bold Italic
 */

@font-face {
    font-family: 'Domaine-Text-Sans';
    font-weight: bold;
    font-style: italic;
    src: url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294b781ae6cf9b884a035c/1546210169303/DomaineSansTextWeb-BoldItalic.eot');
    src: url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294b80758d46566dff84c1/1546210176639/DomaineSansTextWeb-BoldItalic.woff2') format('woff2'),
         url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294b7cf950b760dd53f780/1546210172244/DomaineSansTextWeb-BoldItalic.woff') format('woff');
    }




/**
 * Simplon Mono
 */

@font-face {
    font-family: 'Simplon-Mono';
    font-weight: normal;
    font-style: normal;
    src: url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294bce4ae2379d322884a5/1546210254843/SimplonMono-Regular-WebS.eot');
    src: url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294bd68a922d1c5e9f8ef4/1546210262979/SimplonMono-Regular-WebS.woff2') format('woff2'),
         url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294bd34d7a9c2ebbf58100/1546210259052/SimplonMono-Regular-WebS.woff') format('woff');
    }



/**
 * Domaine Display Condensed
 */

@font-face {
    font-family: 'Domaine-Display';
    font-weight: normal;
    font-style: normal;
    src: url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294c3a4ae2379d322888e8/1546210362134/DomaineDisplayCondensedWeb-Medium.eot');
    src: url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294c406d2a73e6a9aef3a7/1546210368791/DomaineDisplayCondensedWeb-Medium.woff2') format('woff2'),
    url('https://static1.squarespace.com/static/56e4ca0540261d39b90e4b18/t/5c294c088985832b1978ed28/1546210312333/DomaineDisplayCondensedWeb-Medium.woff') format('woff');
    }
