/* --------------------------------------------------------------------------
 * Typography
 * -------------------------------------------------------------------------- */

/* Global Defaults */
html, body,
input, button,
select, textarea {
	font: #{em($font-size)}/#{$line-height} $font-sans;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	font-synthesis: none;
    }

p {
	margin: 0 0 unit(1) 0;
    }

b, strong {
    font-family: $font-sans;
    font-weight: bold;
    }

i, em {
    font-family: $font-sans;
    font-style: italic;
    }

ul, ol {
	margin: 0;
    padding: 0;
	list-style-type: none;

    // unstyled lists
    &.-reset {
        list-style-type: none;
        padding: 0;
        margin: 0;

        // child lists
        ul, ol {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }
}

a {
	outline: none;
	text-decoration: none;
	color: inherit;
    }

::selection {
	background: none;
	color: color(secondary);
    }

::-moz-selection {
	background: none;
	color: color(secondary);
    }




/* Typography Helper Classes
 * -------------------------------------------------------------------------- */

/**
 * Text sizes
 */

.txt-xs {
    @include txt(xs);
    }

.txt-s {
    @include txt(s);
    }

.txt{
    @include txt(m);
    }

.txt-l {
    @include txt(l);
    }

.txt-xl {
	@include txt(xl);
    }

.txt-xxl {
    @include txt(xxl);
    }




/**
 * Text alignment
 */

.txt-center {
    text-align: center;
    }

.txt-left {
    text-align: left;
    }

.txt-right {
    text-align: right;
    }




/**
 * Text spacing
 */

.txt-uppercase {
    @include uppercase(0.1em);

    &-l {
        letter-spacing: 0.2em;
        }
    }



.txt-sans {
    font-family: $font-sans;

    &.--bold {
        font-weight: bold;
        }

    &.--kern-tight {
        letter-spacing: -0.04em;
        }
    }

.txt-serif {
    font-family: $font-serif;
    }

.txt-mono {
    font-family: $font-mono;

    &.--uppercase {
        @include uppercase(.1em);
        }
    }

.txt-bee {
    color: color(yellow) !important;
    }

.txt-bloom {
    color: color(green) !important;
    }

.txt-nom {
    color: color(red) !important;
    }

.txt-life {
    color: color(blue) !important;
    }
