/* ==========================================================================
Footer
========================================================================== */


.site-footer {
    padding: 0 0 5rem;

    .wrap {
        display: flex;
        flex-direction: column;
    }

    @include breakpoint($vp4) {
        .wrap {
            flex-direction: row;
            justify-content: space-between;

            ul {
                display: flex;
            }
        }
    }
}


.footer_brand {
    padding: 1.5rem 0;
}

.footer-nav {
    a {
        display: block;
        padding: 1.5rem 0;
    }

    @include breakpoint($vp4) {
        a {
            margin: 0 2rem;
        }

        &.footer_nav-two {
            flex: 1 1 auto;
        }

        &.footer_nav-one {
            order: 3;

            li:last-child a {
                margin-right: 0;
            }
        }

    }
}

.footer_copyright {
    padding: 1.5rem 0;

    @include breakpoint($vp4) {
        display: none;
    }
}
