/* ==========================================================================
   Article styles
   ========================================================================== */

.article_banner {
    display: flex;
    flex-direction: column;
    max-width: $wrap-large;
    margin-bottom: $space-rela;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($vp2) {
        padding: 0 $space-perc;
        margin-bottom: ($space-perc * 2);
    }
    @include breakpoint($vp3) {
        padding: 0 ($space-perc * 1.5);
        margin-bottom: ($space-rela * 3);
    }
}

// figure within banner
.article_banner-image {
    order: 2;
    width: 100%;

    img {
        border: 2px solid color(black);
        display: block;
        height: auto;
        width: 100%;
        margin: 0 auto;
        // max-width: 40em;

        @include breakpoint($vp3) {
            max-width: none;
            }
        }
    }

// text within banner
.article_banner-text {
    order: 1;
    position: relative;
    line-height: 1.2;
    padding: unit(1.5);

    @include breakpoint($vp2) {
        text-align: center;
        padding: 0 ($space-perc * 2);
        margin-top: 2rem;
    }
    @include breakpoint($vp3) {
        padding: 0 $space-rela;
    }
}

.article_header {
    @include breakpoint($vp2) {
        margin: 0 0 $space-rela;
        }
    }
