/* ==========================================================================
Tiles — used for posts
--------------------------------------------------------------------------
Contains image, category, title, excerpt
========================================================================== */




.tiles {
    font-size: 0;
    margin: 0;
    padding: unit(3.5) 0;
    position: relative;
    width: auto;

    &.--aspect-4-3 {
        .tile__img {
            @include aspect-ratio(4, 3);

            img {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .wrap {
        padding: 0 unit(.5);
        max-width: 30rem;

        @include breakpoint($vp2) {
            padding: 0 unit(1.5);
            max-width: 40rem;
        }
        @include breakpoint($vp3) {
            padding: 0 unit(4);
            // max-width: $wrap-max;
            max-width: none;
        }
    }
}




.tile {
    margin: 0 auto unit(3.5);
    opacity: 0;
    transform: translate3d(0,50px,0);
    transition: opacity $long-duration $ease-out,
                transform $long-duration $ease-out;

    @include breakpoint($vp3) {
        padding: 0 unit(.8);
        display: inline-block;
        vertical-align: top;
        @include col(6);
    }

    @include breakpoint($vp5) {
        @include col(4);
    }

    &.is-active {
        opacity: 1;
        transform: translate3d(0,0,0);

        .tile__img img {
            opacity: 1;
        }

        .tile__info {
            header,
            footer {
                opacity: 1;
                transform: translate3d(0,0,0);
            }
        }
    }

    &.-bees:hover {
        img {
            border-color: color(yellow);
        }
        footer p {
            color: color(yellow);
        }
    }
    &.-blooms:hover {
        img {
            border-color: color(green);
        }
        footer p {
            color: color(green);
        }
    }
    &.-noms:hover {
        img {
            border-color: color(red);
        }
        footer p {
            color: color(red);
        }
    }
    &.-life:hover {
        img {
            border-color: color(blue);
        }
        footer p {
            color: color(blue);
        }
    }
}




.tile__img img {
    width: 100%;
    border: 2px solid color(primary);
    transition: border-color $fast-duration $ease-cubic;

    @include breakpoint($vp2) {
        padding: 0;
    }
}




.tile__info {
    padding: 0 unit(1.5);

    @include breakpoint($vp2) {
        padding: 0;
    }

    header,
    footer {
        opacity: 0;
        transform: translate3d(0,25px,0);
        transition: transform $long-duration $ease-out $midi-duration,
                    opacity $long-duration $ease-out $midi-duration;
    }

    header {
        padding-top: unit(1.5);
        margin-bottom: unit(.5);
    }

    footer {
        transition-delay: $long-duration;
        color: color(secondary);

        p {
            transition: color $fast-duration $ease-cubic;
        }
    }
}
