/* ==========================================================================
   Filter
   ========================================================================== */

.page-resources .filter {
    margin-bottom: $space-rela;

    @include breakpoint($vp2) {
        margin-bottom: ($space-perc * 2);
    }
    @include breakpoint($vp3) {
        margin-bottom: ($space-rela * 3);
    }
}


.filter-bar {

    .wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 80rem;
      flex-wrap: wrap;
    }

    .filter-item {
      outline: none;
      flex-grow: 1;
      width: 50%;
      display: block;
      cursor: pointer;
      padding: ($space-rela / 2) 0;

      @include breakpoint(30em) {
        width: 25%;
        padding: 0;
      }
    }

    ._text {
      font-size: 80%;

      @include breakpoint($vp2) {
        font-size: 100%;
      }
    }
}

.filter {
  padding: unit(5) 0;
  margin: 0 auto;
  max-width: $vp4;

  @include breakpoint(max, $vp2) {
      .wrap {
          padding: 0;
      }
  }

  li {
      opacity: 1;
      transition: all .5s ease-out;
      overflow: hidden;
      transform: translate3d(0,0,0);

      &.-is-hidden {
          // transform: translate3d(0,-100%,0);
          opacity: .3;
          // height: 0;
      }

      &:last-child .filter__item-row {
        border-bottom: none;
      }
  }

  &__item {
    width: 100%;
  }
}


.filter__item {
    &.link {
        .filter-item__tag:before {
            content: "🔗";
        }
    }
    &.book {
        .filter-item__tag:before {
            content: "📖";
        }
    }
    &.film {
        .filter-item__tag:before {
            content: "🎥";
        }
    }
}



.filter__item-row {
    border-bottom: 1px solid color(grayAlt);

    a {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


.filter-item__tag {
    flex: 1;
    display: block;

    &:before {
        margin: 0 auto;
    }
}

.filter-item__info {
    flex: 4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    header {
        flex: 3;
        padding-right: unit(1.5);
    }

    footer {
        padding: unit(0.5) unit(1.5) 0 0;
        flex: 1;
        color: color(secondary);
    }
}



@include breakpoint($vp3) {

    .filter-item__row a {
        padding: 1.5rem 0;
    }

    .filter-item__info {
        flex-direction: row;
        align-items: center;

        footer {
            text-align: center;
        }
    }

    .filter-item__tag {
        display: flex;
    }
}
