/* ==========================================================================
   Article styles
   ========================================================================== */

.article_banner {
    @include container($wrap-max);
    display: flex;
    flex-direction: column;

    @include breakpoint($vp2) {
        padding: 0 unit(2, perc);
        }

    @include breakpoint($vp3) {
        flex-direction: row;
        align-items: center;
        }
    }

// figure within banner
.article_banner-image {
    width: 100%;
    order: 2;

    @include breakpoint($vp2) {
        order: 1;
        padding: 0 unit(4, perc);
        }

    @include breakpoint($vp3) {
        @include span(6);
        padding: 0;
        }

    @include breakpoint($vp3) {
        @include span(7);
        }

    img {
        display: block;
        height: auto;
        width: 100%;
        margin: 0 auto;
        max-width: 40em;

        @include breakpoint($vp3) {
            max-width: none;
            }
        }
    }

// text within banner
.article_banner-text {
    text-align: center;
    position: relative;
    order: 1;

    @include breakpoint($vp2) {
        order: 2;
        }

    @include breakpoint($vp3) {
        text-align: left;
        @include span(last 6);
        padding: 0 unit(1, perc);
        }

    @include breakpoint($vp4) {
        @include span(last 5);
        }

    }

.article_header {
    @include breakpoint($vp2) {
        margin-top: unit(2);
        }
    }

// category and date
.article_meta {

    }

.article_meta-col {
    @include span(6);

    &:last-child {
        @include last;
        }
    }
