/* Component styles
   ========================================================================== */

.toolbar {
    @include breakpoint($vp3) {
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        position: fixed;
    }
}

.toolbar-row {

    > ul, ol {
        // remove default style
        list-style-type: none;
        padding: 0;
        margin: 0;
        // positioning
        display: flex;
        justify-content: space-around;
    }

    li {
        display: flex;
        align-items: center;
        position: relative;
        flex: 1;
        text-align: center;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
        padding: .5rem 2rem .4rem;
        line-height: 1em;
    }
}




/* Nav-specific styles
   ========================================================================== */

.site-header_nav {
    background: color(red);

    // default color
    a {
        transition: color $fast-duration $ease-cubic,
                    padding $fast-duration $ease-in-out;
        color: #FDA3A2;
    }


    &:hover {
        a {
            padding: 1.5rem 2rem;
        }
    }

    li {
        &:hover {

            a {
                color: color(white);
            }
        }
    }
}


// nav links
// .site-header_nav-item {
//    &.-active a {
//        color: color(white);
//    }
// }


// site weather banner
.site-header_banner {
    transition: transform ($timing * 1.5) $easing, opacity ($timing * 1.5) $easing;
    background: color(secondary);
    opacity: 0;
    position: relative;
    z-index: -1;

    &.show {
        opacity: 1;
    }

    a {
        color: color(primary);
    }
}


html.is-scrolling-down {
    .site-header_banner {
        transform: translate3d(0, -100%, 0);
    }
}


@include breakpoint(max, $vp2) {
    .site-header_nav {
        display: none;
        visibility: hidden;
    }
}
