/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
    .toolbar-row {
        display: none;

        &.site-header_nav {
            @include breakpoint($vp2) {
                display: block;
                }
            }

        &.site-header_banner {

            @include breakpoint(($vp3 + $vp4) / 2) {
                display: block;
                }
            }
        }
    }

.site-header_meta {

    .wrap {
        display: flex;
        align-items: center;

        padding: unit(1.5);

        @include breakpoint($vp2) {
            padding: unit(2) 0;
            }

        @include breakpoint($vp3) {
            // padding: unit(5, perc) 0 unit(2.5, perc);
            padding: unit(6) 0;
            }

        @include breakpoint($vp4) {
            padding: unit(8) 0;
            }
        }

    // logo color
    .fill {
        transition: fill 0.2s ease-out;
        fill: color(black);
        }

    a {
        display: block;

        &:hover {
            .fill {
                fill: color(gray);
                }
            }
        }
    }

.site-header_meta_logomark {
    @include span(3);
    display: flex;

    @include breakpoint($vp2) {
        justify-content: center;
        align-items: flex-start;
        }

    @include breakpoint($vp2) {
        @include span(2);
        }

    svg {
        min-width: 2em;
        width: 2.7vw;
        max-width: 3em;
        }
    }

.site-header_meta_logotype {
    display: none;

    @include breakpoint($vp2) {
        display: flex;
        justify-content: center;
        @include span(6 of 12);
        }

    @include breakpoint($vp2) {
        @include span(8);
        }

    ._text {
        @include hide-text();
        }

    ._icon {
        display: block;

        @include breakpoint($vp3) {
            width: 20vw;
            }

        // logo color
        .a {
            transition: fill 0.2s ease-out;
            fill: color(black);
            }
        }

    svg {
        display: block;
        min-width: 13.5em;
        max-width: 20em;
        margin: 0 auto;
        }
    }

.site-header_meta_title {
    @include uppercase(.1em);
    color: color(gray);
    text-align: center;
    display: block;
    @include span(6);

    @include breakpoint($vp2) {
        display: flex;
        align-items: center;
        justify-content: center;
        @include span(last 3 of 12);
        }

    @include breakpoint($vp2) {
        @include span(last 2);
        }
    }

.site-header_nav-trigger {
    display: block;
    @include span(last 3 of 12);

    @include breakpoint($vp2) {
        display: none;
        }

    button {
        border:0;
        padding: 0;
        background: 0;
        outline: 0;
        max-width: 2em;
        display: block;
        float: right;
        }
    }



.header-banner--icon {
    line-height: 0;
    margin-left: unit(.5);
    position: relative;
    top: 1px;
    }
