/* ==========================================================================
   Header
   ========================================================================== */


.site-header_meta {

    .wrap {
        display: flex;
        align-items: center;
        padding: unit(3.5) unit(1.5) unit(2.5);

        @include breakpoint($vp2) {
            padding: unit(5) unit(1.8) unit(3.5);
            }

        @include breakpoint($vp3) {
            padding: unit(5) 0 unit(4);
            }
        }

    // logo color
    .fill {
        transition: fill 0.2s ease-out;
        fill: color(black);
        }

    a {
        display: block;

        &:hover {
            .fill {
                fill: color(gray);
                }
            }
        }
    }

.site-header_meta_logomark {
    @include span(3);
    display: none;

    @include breakpoint($vp2) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        }

    @include breakpoint($vp2) {
        @include span(2);
        }

    svg {
        min-width: 2em;
        width: 2.7vw;
        max-width: 3em;
        }
    }

.site-header_meta_logotype {
    @include span(6 of 12);

    @include breakpoint($vp2) {
        display: flex;
        justify-content: center;
        }

    @include breakpoint($vp2) {
        @include span(8);
        }

    ._text {
        @include hide-text();
        }

    ._icon {
        display: block;

        @include breakpoint($vp3) {
            width: 20vw;
            }

        // logo color
        .a {
            transition: fill 0.2s ease-out;
            fill: color(black);
            }
        }

    svg {
        display: block;
        width: 20vw;
        min-width: 10em;
        max-width: 20em;
        position: relative;
        top: -0.3rem;

        @include breakpoint($vp2) {
          top: 0;
          margin: 0 auto;
        }
        }
    }

.site-header_meta_title {
    @include uppercase(.1em);
    color: color(gray);
    text-align: right;
    display: block;
    @include span(6);

    @include breakpoint($vp2) {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        @include span(last 3 of 12);
        }

    @include breakpoint($vp2) {
        @include span(last 2);
        }
    }




/**
 * Mobile
 */

// html.is-touchable {
//   .site-header_meta {
//     .wrap {
//       padding-top: 7rem;
//     }
//   }
// }
