/* ==========================================================================
   Quote block
   ========================================================================== */

.sqs-block-quote {

    .sqs-block-content {
        @include container($wrap-large);
        }

    // block quote figure
    .bq {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 2;
        }

    .bq_quote {
        @include span(8 of 12);
        }

    .bq_source {
        @include span(last 4 of 12);
        }

    }


.bq {
    margin: 0 auto;
    max-width: $wrap-large;
    padding: 0 unit(4, vw);

    @include breakpoint($vp3) {
        padding: 0;
        }

    &.-large {
        padding: 0 unit(2, perc);

        @include breakpoint($vp2) {
            padding: 0 unit(4, perc);
            }

        @include breakpoint($vp4) {
            padding: 0;
            }
        }
    }
