.sqs-block-button {
    margin-top: unit(1.5);
    margin-bottom: unit(3);

    .sqs-block-button-element {
        transition: border-color $timing $ease-cubic;
        @include txt(s);
        font-family: $font-sans;
        padding: ($unit-rela * 1) ($unit-rela * 1.5);
        background: transparent;
        border: 2px solid color(secondary);
        color: color(primary) !important;

        &:hover {
            color: color(primary);
            background: transparent;
            border: 2px solid color(primary);
        }
    }

    // .sqs-block-button-element--medium {}
}
