.inline {
    display: block;

    &.-center {
        margin: 0 auto;
        }

    &.-small{
        height: auto;
        min-width: 200px;
        max-width: 40vh;
        width: 80%;
        }
    }
