.button,
.sqs-block-button {
    margin-top: unit(1.5);
    margin-bottom: unit(3);

    a,
    .sqs-block-button-element {
        -webkit-appearance: none;
        @include uppercase();
        @include txt(s);
        font-family: $font-mono;
        font-weight: normal;
        padding: ($unit-rela * 1) ($unit-rela * 1.5);
        background: transparent;
        border: 1px solid color(black);
        color: color(black);

        &:hover {
            color: color(white);
            background: color(black);
        }
    }

    // .sqs-block-button-element--medium {}
}
