.m_region.-campaign {
    margin-bottom: 0;
}

.m_campaign {

    /**
     * SQS Reset
     */
     .sqs-layout .sqs-block-html,
     .sqs-layout > .sqs-row  {
         padding: 0;
         margin: 0;
     }
     .sqs-layout .sqs-block-html {
         margin-bottom: 0;
     }


    .wrap {
        position: relative;
        background-size: cover;
        background-position: center center;
        padding-top: 35vh;
    }

    .sqs-layout {
        opacity: .7;
    }

    a {
        display: block;

        &:hover {
            .m_campaign--info:before {
                border-color: color(primary);
            }
        }
    }
}

.m_gradient {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.7));
}

.m_campaign--info {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 auto;
    color: white;
    padding: unit(1.5);
    @include breakpoint($vp2) {
        padding: ($space-perc * 2);
    }
    @include breakpoint($vp3) {
        padding: $space-rela;
    }

    h1 {
        line-height: 1.2;
    }
}

.m_campaign-info--title {
    @include uppercase(0);
    margin-bottom: unit(1);
}



@include breakpoint($vp3) {
    .m_campaign {

        .wrap {
            padding: 15vw;
        }

        .txt-s > .sqs-layout {
            opacity: 1;
        }
    }

    .m_gradient {
        display: none;
    }

    .txt-s {
        color: color(secondary);
    }

    .m_campaign--info {
        padding: ($space-rela * 2);
        background: white;
        color: black;
        max-width: $vp3;

        &:before {
            transition: border-color $ease-in-out $midi-duration;
            content: " ";
            position: absolute;
            z-index: -1;
            top: 1em;
            left: 1em;
            right: 1em;
            bottom: 1em;
            border: 2px solid lightgrey;
        }
    }
}
