/* ==========================================================================
   Image block
   ========================================================================== */

// squarespace element wrapper
.sqs-block-image {
    .sqs-block-content {
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 0 unit(4, vw);

        @include breakpoint($vp2) {
            padding: 0 unit(2, perc);
            }
        @include breakpoint($vp3) {
            padding: 0 unit(1, perc);
            }
        }
    }

// custom image block element
.figure {
    min-width: 0;
    max-width: 1200px;
    }

.figure_image {
    display: block;
    width: 100%;
    height: auto;
    @include breakpoint($vp3) {
        min-width: 800px;
        }
    }

.figure_cap,
.figure__cap, {
    text-align: center;
    padding: unit();
    }



// .js-lazy-image {

//     &.-is-lazy-loading {
//         opacity: 0;
//         }

//     &.-is-lazy-transition {
//         transition: opacity 0.5s ease-out;
//         }

//     &.-is-lazy-loaded {
//         opacity: 1;
//         }

//     &.-is-lazy-handled {
//         opacity: 1;
//         }
//     }
