/* ==========================================================================
   Quote block
   ========================================================================== */

// .sqs-block-quote {
//     blockquote.bq
// }

.bq_quote {
    letter-spacing: -0.08rem;
    color: color(primary);
    line-height: 1.8;
}

.bq_source {
    margin-top: unit(1.5);
    color: color(secondary);
}


blockquote.bq {
    margin: 0 auto;
    max-width: $wrap-medium;

    @include breakpoint($vp3) {
        margin: 0 auto;
        padding: 0;
    }

    &.-large {
        max-width: $wrap-large !important;

        .bq_quote {
            @include txt(l);
            letter-spacing: -0.1rem;
        }
    }
}
