/* ==========================================================================
   Image block
   ========================================================================== */

.image {
    display: block;
    width: 100%;
}


// squarespace element wrapper
.sqs-block-image {
    .sqs-block-content {
        display: flex;
        align-items: center;
        justify-content: center;
        }
    }

// custom image block element
.figure {
    width: 100%;
    max-width: $wrap-large;

    @include breakpoint($vp2) {
        padding: 0 $space-perc;
    }
    @include breakpoint($vp3) {
        padding: 0 ($space-perc * 1.5);
    }
}

.figure_image {
    display: block;
    width: 100%;
    height: auto;
    border-top: 2px solid color(black);
    border-bottom: 2px solid color(black);

    @include breakpoint($vp2) {
        border: 2px solid color(black);
    }

    @include breakpoint($vp3) {
        min-width: 800px;
        }
    }

.figure_cap,
.figure__cap, {
    text-align: center;
    padding: unit();
    }



.js-lazy-image {
    transition: opacity 0.5s ease-out;

    // element loading state
    &.-is-lazy-loading {}

    // element transitioning state
    &.-is-lazy-transition {}

    // elements loaded state
    &.-is-lazy-loaded {}

    // defines the element as having been loaded
    &.-is-lazy-handled {}

    // &.-is-lazy-loading {
    //     opacity: 0;
    //     }
    //
    // &.-is-lazy-transition {
    //     transition: opacity 0.5s ease-out;
    //     }

    // &.-is-lazy-loaded {
    //     opacity: 1;
    //     }
    //
    // &.-is-lazy-handled {
    //     opacity: 1;
    //     }
    }



.gallery_item {
  &:first-child .gallery_image {
    @include breakpoint($vp3) {
      border-left: 0;
    }
  }
  &:last-child .gallery_image {
    @include breakpoint($vp3) {
      border-right: 0;
    }
  }
}

.gallery_image {
    border-top: 2px solid color(black);
    border-bottom: 2px solid color(black);

    @include breakpoint($vp2) {
        border: 2px solid color(black);
        }
    }
